.side-bar {position: fixed;
           background-color: white;
           color: black;
           left: 0;
           bottom: 0;
           top: 52px;
           width: 76px;
           z-index: 200;
           }

.sidebar-link {height: 76px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               padding-top: 5px;
               }
               
.sidebar-link:hover {
                     background-color: rgb(235,235,235);
                     cursor: pointer;
                     }

.sidebar-icons {height: 25px;
             
            }

.sidebar-text {font-family: Roboto, Arial;
               font-size: 10px;
                }